Lead Form Automation.json
{
  "name": "Lead Form Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Form",
        "formDescription": "Form for new leads for a automation agency and categorization",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Jim Billy Bob",
              "requiredField": true
            },
            {
              "fieldLabel": "What do you want automated?",
              "fieldType": "textarea",
              "placeholder": "Describe your project goal which needs to be automated",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your time frame?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1-3 Months"
                  },
                  {
                    "option": "3-6 Months"
                  },
                  {
                    "option": "6-9 Months"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "What is your project budget?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "$1000-$3000"
                  },
                  {
                    "option": "$3000-$6000"
                  },
                  {
                    "option": "$6000-$9000"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -560,
        -60
      ],
      "id": "eeab950a-e0c7-4720-a5e9-5fa00592be57",
      "name": "Lead form",
      "webhookId": "7372570c-2be7-4d4e-8c81-002356bc83ea"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['What is your project budget?'] }}",
                    "rightValue": "$1000-$3000",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2f535f1b-faae-4598-ac84-ebd31c61c580"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low Budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "43846143-3437-4961-8ec5-3e3471f4fbf2",
                    "leftValue": "={{ $json['What is your project budget?'] }}",
                    "rightValue": "$3000-$6000",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium Budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1692edcb-2f12-4884-92b9-345afa45d85f",
                    "leftValue": "={{ $json['What is your project budget?'] }}",
                    "rightValue": "$6000-$9000",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High Budget"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -360,
        -60
      ],
      "id": "3b862b00-cca5-4607-80a5-f1cc837f7abf",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        -240
      ],
      "id": "39f46b93-90a1-40ef-af0d-e5341a5de02e",
      "name": "Low Budget",
      "webhookId": "46316496-8df2-4cf4-83c8-4c4bc5085534",
      "credentials": {
        "gmailOAuth2": {
          "id": "ED72saJoD87tzkP8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        -60
      ],
      "id": "4d190022-3979-4ccf-9b65-e324433a3a10",
      "name": "Medium Budget",
      "webhookId": "46316496-8df2-4cf4-83c8-4c4bc5085534",
      "credentials": {
        "gmailOAuth2": {
          "id": "ED72saJoD87tzkP8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        200,
        140
      ],
      "id": "c4a548fa-081a-42eb-99ad-70c7028ca841",
      "name": "High Budget",
      "webhookId": "46316496-8df2-4cf4-83c8-4c4bc5085534",
      "credentials": {
        "gmailOAuth2": {
          "id": "ED72saJoD87tzkP8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rohankeshav1122@gmail.com",
        "subject": "=New automation request : {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hey, there is a new automation request!\n\nTheir details :\n\nFull name : {{ $json['Full Name'] }}\n\nProject idea : {{ $json['What do you want automated?'] }}\n\nBudget : {{ $json['What is your project budget?'] }}\n\nTime frame : {{ $json['What is your time frame?'] }}\n\nThe request was made at : {{ $json.submittedAt }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        140
      ],
      "id": "87dd45b7-3c4c-4449-9487-101bf6c3057d",
      "name": "Gmail message",
      "webhookId": "de4f4a0d-04eb-424f-bf13-d450b9b082ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "ED72saJoD87tzkP8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rohankeshav1122@gmail.com",
        "subject": "=New automation request : {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hey, there is a new automation request!\n\nTheir details :\n\nFull name : {{ $json['Full Name'] }}\n\nProject idea : {{ $json['What do you want automated?'] }}\n\nBudget : {{ $json['What is your project budget?'] }}\n\nTime frame : {{ $json['What is your time frame?'] }}\n\nThe request was made at : {{ $json.submittedAt }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        -60
      ],
      "id": "bb948df2-3a8a-4a47-8916-f15674e7de3f",
      "name": "Gmail message1",
      "webhookId": "de4f4a0d-04eb-424f-bf13-d450b9b082ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "ED72saJoD87tzkP8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rohankeshav1122@gmail.com",
        "subject": "=New automation request : {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hey, there is a new automation request!\n\nTheir details :\n\nFull name : {{ $json['Full Name'] }}\n\nProject idea : {{ $json['What do you want automated?'] }}\n\nBudget : {{ $json['What is your project budget?'] }}\n\nTime frame : {{ $json['What is your time frame?'] }}\n\nThe request was made at : {{ $json.submittedAt }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -20,
        -240
      ],
      "id": "d2322be3-2852-4a88-93de-dbc0e3979691",
      "name": "Gmail message2",
      "webhookId": "de4f4a0d-04eb-424f-bf13-d450b9b082ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "ED72saJoD87tzkP8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lead form": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail message": {
      "main": [
        [
          {
            "node": "High Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail message1": {
      "main": [
        [
          {
            "node": "Medium Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail message2": {
      "main": [
        [
          {
            "node": "Low Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87482cba-26f3-4912-8a8a-699ee26706d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac0acf860476d0c217a10e275d66988edcdb1e0ddcff894fb510094ec704fd88"
  },
  "id": "od9GvagGZ4FcyuK1",
  "tags": []
}