telegram chat agent (1).json
{
  "name": "telegram chat agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        -40
      ],
      "id": "9d1bdfc7-aec4-49cc-828e-5ffb0f88c4a3",
      "name": "commsCheckBot",
      "webhookId": "e01cbf2d-b9c9-4f0b-8423-f07293cc3de5",
      "credentials": {
        "telegramApi": {
          "id": "535UYWuSouFvSEr3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e42886c-388c-4927-afc1-971a8bb11e03",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -740,
        -40
      ],
      "id": "95b877f6-a73b-47af-9188-6a3a2d2ea74f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "331042bf-0c89-402d-9393-e0d190697c5b",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        60
      ],
      "id": "31b04465-1e61-47c1-a41a-3bf622d6b75b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -520,
        -140
      ],
      "id": "ebc77ada-3fd6-41a0-9d55-3a61f35e1020",
      "name": "Get a file",
      "webhookId": "909cf604-6003-4ca6-a7d2-a1abf66defba",
      "credentials": {
        "telegramApi": {
          "id": "535UYWuSouFvSEr3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -360,
        -140
      ],
      "id": "0d6e9bd1-695a-4d44-b636-342f0cbeb5db",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "94ZOjOipTQDPAMQ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\nIf the user's message is about creating a calendar event, respond only with a JSON object in this format:\n{\n  \"intent\": \"create_event\",\n  \"title\": \"<event title>\",\n  \"date\": \"<date in YYYY-MM-DD format>\",\n  \"time\": \"<time in HH:MM format>\",\n  \"description\": \"<optional description>\"\n}\n\nIf no event is mentioned, respond with:\n{\n  \"intent\": \"no_event\",\n  \"message\": \"<your normal response to the user>\"\n}\n\nDo not include any other text outside the JSON object.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -60,
        -20
      ],
      "id": "f27e3ca0-bf55-4b68-a024-6171d2c2caff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        180
      ],
      "id": "ec9af5db-41ed-4144-b1a5-a4b0ea5beb80",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "94ZOjOipTQDPAMQ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('commsCheckBot').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        0
      ],
      "id": "b46ec1aa-5273-44bd-88b2-d8b91f70940e",
      "name": "Send a text message",
      "webhookId": "80974d15-3391-4c35-82ba-f25c78ff5445",
      "credentials": {
        "telegramApi": {
          "id": "535UYWuSouFvSEr3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('commsCheckBot').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        180
      ],
      "id": "583c0a20-a80a-43d7-8a8c-a0e58da285c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "708636fc-4d53-4da4-a60e-fea80fda2b8d",
              "leftValue": "={{$json.intent}}",
              "rightValue": "create_event",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        -20
      ],
      "id": "683bdaba-1002-4485-833d-793ed74bcd1b",
      "name": "If1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "rohankeshav1122@gmail.com",
          "mode": "list",
          "cachedResultName": "rohankeshav1122@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        620,
        -160
      ],
      "id": "d6fded26-251a-4479-a490-085eb528cd95",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XVIbBEHvz5TjFOlw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.output);\nreturn [{ json: data }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        -20
      ],
      "id": "a2586c48-8ccd-4aee-b519-bb15dfae43f0",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "commsCheckBot": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0056bd7-7cd7-49e0-a1a4-2d3504c01655",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac0acf860476d0c217a10e275d66988edcdb1e0ddcff894fb510094ec704fd88"
  },
  "id": "kliCdUdddE01ZlfV",
  "tags": []
}